<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3> Turno confirmado</h3>
    <h3> Hola <%= @appointment.user_patient %></h3>
    <h4>
      Te han asignado un turno para el dia <%= appointment_date(@appointment) %> para la vacuna de <%= pretty_vaccine(@appointment.vaccine) %>
    </h4>
  </body>
</html>
