<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3> Turno cancelado</h3>
    <h3> Hola <%= @appointment.user_patient %></h3>
    <h4>
      Su turno para la vacuna de <%= pretty_vaccine(@appointment.vaccine) %> fue cancelado
    </h4>

    <h4>
      Puede pedir otro
    </h4>
  </body>
</html>
