<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>
      Hola <%= @user_patient.name %>
      <br>
      Te informamos que la sede de tu turno ha cambiado a <%= @vacunatorio.place %>
    </h2>
      <br>
  </body>
</html>
