<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>
      Tu nueva clave de vacunación es <%= @user_patient.access_key %>
      <br>
      Es necesaria para iniciar sesion y presentarla a la hora de vacunarse
    </h2>
      <br>
  </body>
</html>
