 <div class="container mb-5">
  <h2 class="my-4">Información de vacuna</h2>
  <% user_patient = @appointment.user_patient %>
  <div class="my-3 d-flex flex-column gap-2">
    <h4><i class="fas fa-user-injured"></i> Paciente: <%= "#{user_patient.name} #{user_patient.last_name}" %></h4>
    <h4><i class="fas fa-id-card"></i>  DNI: <%= user_patient.dni %></h4>
  </div>
  <%= render 'form', certificate: @certificate%>
</div>
