<!DOCTYPE html>
<html>
<head>
<title> 
    <meta charset="utf-9"> 
    <h1>CERTIFICADOS DE VACUNACIÓN</h1>
    <h3>VACUNASSIST</h3>   
</title>
    <meta charset="utf-8"> 
</head>
<body>
    <th> 
        <h6>Se quien corresponda que quien corresponda que valida ante quien corresponda que</h6>
        if(Appointments_patient.vaccine == 'covid')
            <td><%=" el paciente #{@patient.name  @patient.last_name} registrado bajo el DNI  #{@patient.dni} posee turno para la dosis #{@Appointments_patient.dose} de #{@Appointments_patient.vaccine} para el día #{@Appointments_patient.date}"  %></td>
        else
            <td><%=" el paciente #{@patient.name @patient.last_name} registrado bajo el DNI  #{patient.dni} posee turno para la dosis de #{Appointments_patient.vaccine} para el día #{Appointments_patient.date} "  %></td>
        end         
    </th> 
</body>
</html>   
