<h2>
  Tu clave de vacunación es <%= current_user_patient.access_key %>
  <br>
  Es necesaria para iniciar sesion y presentarla a la hora de vacunarse
</h2>
  <br>
<%=link_to 'Volver al inicio', root_path, class: 'text-success'%>