<div class="container mt-5">
	<ul class="nav nav-pills">
		<li class="nav-item">
			<%= link_to 'Todos los turnos', appointments_path ,class: "nav-link text-success", aria_current: "page" %>
		</li>
		<li class="nav-item">
			<%= link_to 'Pendientes', index_pending_appointments_path ,class: "nav-link text-success", aria_current: "page" %>
		</li>
		<li class="nav-item">
			<%= link_to 'Confirmados', index_confirmed_appointments_path ,class: "nav-link text-success", aria_current: "page" %>
		</li>
		<li class="nav-item">
			<%= link_to 'Turnos pasados', index_past_appointments_path ,class: "nav-link text-success"%>
		</li>
	</ul>
</div>