<div class="container mt-5">
	<ul class="nav nav-pills">
		<li class="nav-item">
			<%= link_header('Todos los turnos', appointments_path)%>
		</li>
		<li class="nav-item">
			<%= link_header('Pendientes', index_pending_appointments_path)%>
		</li>
		<li class="nav-item">
			<%= link_header('Confirmados', index_confirmed_appointments_path)%>
		</li>
		<li class="nav-item">
			<%= link_header('Turnos pasados', index_past_appointments_path)%>
		</li>
	</ul>
</div>