<%= render 'main/header' %>
<div class="container mt-5">
  <h3>Numero de pacientes de hoy: <%= @appointments.count %></h3>
  <%= render partial: 'appointment_data', collection: @appointments, as: :appointment %>
</div>
