<p>Hello <%= @resource.email %>!</p>

<p>Alguien ha solicitado un link para cambiar tu contrase침a. Lo podes hacer presionando el link de abajo</p>

<p><%= link_to 'Cambiar mi contrase침a', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si no solicitaste esto, ignora este mail</p>
<p>Tu contrase침a no cambiar치 hasta que accedas el link de arriba y crees una nueva</p>