<h2 class="container mt-3"> Todos los vacunatorios</h2>
<div class="container">
 <table class="table table-bordered border-success card-shadow mt-5 table-sm">
    <thead>
      <tr>
        <th scope="col" colspan="2">Zona</th>
        <th scope="col" colspan="2">Dirección</th>
        <th scope="col-span-2" colspan="2">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <%= render @vacunatorios %>
    </tbody>
  </table>
</div>
